.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;

}

.productdisplay-img-list{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{

height: 163px;
}

.productdipaly-main{
    width: 586px;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: 5px;
    font-size: 16px;
}
.product-price{
 display: flex;
 margin: 40px 0px;
 gap: 30px;font-size: 24px;
 font-weight: 700;
}

.product-old-price{
    color: #818181;
    text-decoration: line-through;

}

.product-new-price{
    color: #ff4141;

}

.productdisplay-right-description{

}

.productdispaly-right-size h1{
margin-top: 55px;
color: #3d3d3d;
font-size: 20px;
font-weight: 700;

}

.productdisaplay-sizes{

    display: flex;
    max-width: 30px 0px;
    gap: 20px;
}

.productdisaplay-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid#ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button{
 padding: 20px;
 width: 200px;
 font-size: 16px;
 color: white;
 background: #ff4141;
 margin-bottom: 40px;
 border: none;
 outline: none;
 margin-top: 20px;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 margin-left: 100px;
}